<header class="site-header section-padding-img site-header-image">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-12 header-info">
				<h1>
					<span class="d-block text-primary">@ViewBag.Title1</span>
					<span class="d-block text-dark">@ViewBag.Title2</span>
				</h1>
			</div>
		</div>
	</div>
	<img src="~/sablon/images/header/@ViewBag.IMG" class="header-image img-fluid" alt="">
</header>