<section class="preloader">
	<div class="spinner">
		<span class="sk-inner-circle"></span>
	</div>
</section>
<nav class="navbar navbar-expand-lg">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand" href="~/Admin/Home">
			<strong><span>An</span>ket</strong>
		</a>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="~/Admin/Statistic">Cevaplar ve İstatistikler</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="~/Admin/SurveyAjax">Anket İşlemleri</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="~/Admin/QuestionAjax">Soru İşlemleri</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="~/Admin/OptionAjax">Seçenek İşlemleri</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="~/Admin/Profile">Profiliniz</a>
				</li>
			</ul>
			<div class="d-none d-lg-block">
				<a href="~/Home/Index" class="bi-x custom-icon me-3"></a>
			</div>
		</div>
	</div>
</nav>