@{
	ViewData["Title"] = "Ana Sayfa";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="slick-slideshow">
	<div class="slick-custom">
		<img src="~/sablon/images/slideshow/team-meeting-renewable-energy-project.jpeg" class="img-fluid" alt="">
		<div class="slick-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-10">
						<h1 class="slick-title">Ankete Katıl !</h1>
						<p class="lead text-white mt-lg-3 mb-lg-5">Paylaşılan ankete katılarak düşüncelerinizi belirtin.</p>
						<a href="/Member/Survey" class="btn custom-btn">ANKETE GİT</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>