<!doctype html>
<html lang="en">
@await Html.PartialAsync("~/Views/Shared/LayoutPartials/_HeadPartial.cshtml")
<body>
    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>
    <main>
        @RenderBody()
    </main>
    @await Html.PartialAsync("~/Views/Shared/LayoutPartials/_FooterPartial.cshtml")
    @await Html.PartialAsync("~/Views/Shared/LayoutPartials/_ScriptPartial.cshtml")
</body>
</html>
