@{
	ViewData["Title"] = "Teşkkürler";
	Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
<section class="testimonial section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 mx-auto col-11">
				<h2 class="mt-5 text-center">Anketimize katılım sağladığınız için, <br> <span>Teşekkürler.</span></h2>
				<div class="slick-testimonial">
					<div class="slick-testimonial-caption">
						<p class="lead">Anketimize katılımınız için içten teşekkürler! Sizin gibi değerli katılımcılar sayesinde daha iyi bir yol haritası çizebiliyoruz. Geri bildiriminiz bize çok şey katıyor, desteğiniz için minnettarız!</p>
					</div>
				</div>
			</div>
		</div>
</section>